<h1>
  Heroes
  <small>Marvel y DC</small>
</h1>

<div class="card-columns">
  <div
    class="card animated fadeIn fast"
    *ngFor="let heroe of heroes; let i = index"
  >
    <img [src]="heroe.img" [alt]="heroe.nombre" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text">
        <small class="text-muted">{{ heroe.aparicion }}</small>
      </p>

      <button
        class="btn btn-outline-primary btn-block"
        type="button"
        (click)="verHeroe(i)"
      >
        Ver más
      </button>
    </div>
  </div>
</div>
